html, body {
	height: 100vh;
	margin: 10px;
}


.header {
	height: 400px;
}

.jumbo {
	height: 900px;
}

.screenfill {
	height: 100vh;
}

.yellow {
	background-color: #FFE8F0;
}

.black {
	background-color: #FFF7FA;
}

.lightblue {
	background-color: #FF471A;
}

.nopadding-left {
   padding-left: 0px;
   margin-left: 0px;
}

.nopadding-right {
   padding-right: 0px;
   margin-right: 0px;
}

.padding-top {
	padding-top: 10px;
}