* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
div {
  float: left;
  width: calc(100vw / 11);
  height: calc(100vh / 11);
  margin: calc(100vh / 11) 0 0 calc(100vw / 11);
}
@element 'div' {
  $this {
    box-shadow:
      rgba(0,0,0,.3)
      eval('(offsetLeft + offsetWidth/2 - cursorX) / 50')px
      eval('(offsetTop + offsetHeight/2 - cursorY) / 50')px
      1vh
    ;
  }
}
